*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore environment variable files
*.env

# don't apply gitignore on server and app
!lib/APP/app/*
!lib/APP/api/*

# Mac OS
.DS_Store